@import url(../cards/__image/cards__image.css);
@import url(../cards/__item/cards__item.css);
@import url(../cards/__title/cards__title.css);
@import url(../cards/__description/cards__description.css);

.cards {
  margin: auto;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
}