@import url(./_theme/section-title_theme_dark.css);

.section-title { 
    line-height: 69px; 
    margin: 0 auto 0; 
    width: 60%; 
    text-align: center;  
    font-size: 60px; 
    font-weight: bold; 
  } 