.header__title { 
  padding-left: 64px; 
  width: 730px; 
  line-height: 96px; 
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 102px;  
  font-weight: bold;
  flex-wrap: wrap;
  position: relative;
} 