.page { 
  min-width: 1100px; 
  /* мы ещё не умеем делать мобильную версию сайта, */ 
  /* поэтому выше установлена минимальная ширина страницы */ 
  max-width: 1600px; 
  /* выше установили ограничение по максимальной ширине */ 
  margin: 0 auto; 
  /* выше для экранов больше 1600px отцентрировали весь контент */ 
  font-family: 'Helvetica Neue', Arial, sans-serif; 
} 

.header { 
  height: 100vh; 
  min-height: 600px; 
  max-height: 756px; 
  display: flex; 
  background-color: #f2f2f2; 
  padding-bottom: 100px; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  position: relative; 
  /* выше установили ограничения для секции */ 
} 
 
.logo { 
  position: absolute; 
  z-index: 1; 
  background-size: contain; 
  background-repeat: no-repeat; 
  } 
   
  .logo_place_header { 
  background-image: url(../images/logo_place_header.svg); 
  width: 183px; 
  height: 32px; 
  top: 30px; 
  left: 64px; 
  } 
    
  .header__title { 
    padding-left: 64px; 
    width: 730px; 
    line-height: 96px; 
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 102px;  
    font-weight: bold;
    flex-wrap: wrap;
    position: relative;
  } 
 
  .header__subtitle { 
    position: absolute; 
    left: 64px; 
    bottom: 30px; 
    width: 388px; 
    line-height: 25px; 
    font-size: 18px; 
    font-weight: normal; 
 
  } 

  .header__link {
    text-decoration: none;
    color: #2f80ed;
  }
   
 
  .header__main-illustration { 
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    height: 608px; 
    width: 765px; 
    z-index: 1; 
  } 
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */ 
.header__square-pic { 
  height: 568px; 
  width: 568px; 
  position: absolute; 
  right: 0px; 
  top: 64px; 
  background-color: #2f80ed; 
  z-index: 0; 
} 
 
 
 
 
.description { 
  padding-top: 100px; 
  padding-bottom: 100px;
} 
 
.two-columns { 
  width: 80%; 
  display: flex; 
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
} 
 
.two-columns__brief { 
  width: 175px; 
  line-height: 1.2; 
  color: #2f80ed;
  font-size: 18px; 
  font-weight: normal;
  margin: 0;
  padding: 0;
} 
 

.two-columns__main-text { 
  width: 80%; 
  min-width: 784px;
  flex-direction: column;

} 
 
.two-columns__paragraf { 
  line-height: 34px; 
  font-size: 24px; 
  font-weight: normal;
  flex-direction: column;
  margin: 0;
  padding-bottom: 30px;
} 
 
.two-columns__span-accent { 
  font-weight: bold; 
  line-height: 34px; 
  font-size: 24px;
} 
 
.digits { 
display: flex; 
flex-direction: column 
} 
 
.section-title { 
  line-height: 69px; 
  margin: 0 auto 0; 
  width: 60%; 
  text-align: center;  
  font-size: 60px; 
  font-weight: bold; 
} 

.section-title_theme_dark {
  color: white;
  padding-top: 90px; 
} 
 
.section-subtitle { 
  width: 60%; 
  margin: 0 auto 0; 
  line-height: 34px; 
  font-size: 24px; 
  font-weight: normal; 
  text-align: center; 
} 
 
.section-subtitle_theme_dark { 
  color: white; 
} 
 

.table { 
  width: 1100px; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 100px; 
  margin-top: 0; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: space-between; 
 
} 
 
.table_theme_dark {  
  z-index: 1; 
} 

.table__cell { 
  width: 250px; 
  margin-top: 60px; 
} 
 
.table__cell_theme_dark { 
  width: 200px; 
  color: white; 
  margin-right: 0; 
  margin-top: 80px;  
} 

.table__heading { 
  line-height: 1.15; 
  font-size: 24px; 
  font-weight: bold;
  margin: 0;
} 
 
.table__heading_theme_dark {

} 

.table__text { 
  line-height: 1.2; 
  font-size: 18px; 
  font-weight: normal; 
  margin-top: 20px; 
} 

.table__text_theme_dark { 

} 
 
.feynman { 
  height: 790px; 
  display: flex; 
  flex-direction: column; 
  position: relative; 
  background-color: #f2f2f2; 
  padding-top: 100px; 
  margin: 0 auto; 
 
} 
 
.feynman__img { 
  background-position: left bottom; 
  background-repeat: no-repeat; 
  height: 637px; 
  width: 867px; 
  position: absolute; 
  bottom: 0px; 
  left: 0px; 
} 
 
.feynman-title { 
  margin: 0 auto; 
  width: 648px; 
  text-align: center; 
  line-height: 1.15; 
  font-size: 120px; 
  font-weight: bold; 
  align-items: center; 
  justify-content: center;
  position: relative;
} 
 
 
.feynman-subtitle { 
  margin: 70px 0 0; 
  line-height: 51px; 
  font-size: 36px; 
  font-weight: normal; 
  text-align: center; 
  align-items: center; 
  justify-content: center;
  position: relative;
} 
 
.feynman__link { 
position: absolute; 
top: 50%; 
right: 48px; 
line-height: 51px; 
font-size: 36px; 
font-weight: normal; 
text-decoration: none;
color: black;
} 
 
.kaufman { 
  display: flex; 
  flex-direction: column; 
  background-color: #1f1f1f; 
  overflow: hidden; 
  position: relative; 
   
} 
 
.kaufman__triangle { 
  background-image: url(../images/kaufman-triangle.svg); 
  background-size: cover; 
  background-repeat: no-repeat; 
  position: absolute; 
  right: -210px; 
  top: 0; 
  height: 877px; 
  width: 877px; 
  color: #2f80ed; 
  z-index: 0; 
 
} 
 
 
.table__text_theme_dark { 
  line-height: 1.2; 
  font-size: 18px; 
  font-weight: normal; 
  margin-top: 20px; 
} 
 
.footer { 
  display: flex; 
  background-color: #1f1f1f; 
  min-height: 350px; 
} 
 
.footer__colums { 
  width: 90%; 
  margin: 60px auto 40px; 
  position: relative; 
  justify-content: space-between; 
  display: flex; 
} 
 
.footer__column { 
  position: relative; 
  display: flex; 
  flex-flow: column; 
} 
 
.footer__column_content_copyright { 
  width: 50%; 
} 
 
.logo_place_footer { 
height: 35px; 
width: 183px; 
flex-basis: 771px; 
background-image: url(../images/logo_place_footer.svg); 
top: 0; 
left: 0; 
} 
 
.footer__author { 
  color: white; 
  line-height: 25px; 
  font-size: 18px; 
  font-weight: normal; 
  position: absolute; 
  left: 0; 
  bottom: 18px; 
} 
 
.footer__column-heading { 
  color: white; 
  line-height: 30px; 
  font-size: 18px; 
  font-weight: bold; 
  margin-bottom: 20px;
  margin-top: 0;
} 
 
.footer__column-links { 
  line-height: 30px; 
  font-size: 18px; 
  font-weight: normal; 
  display: flex; 
  flex-direction: column; 
  list-style: none;
  margin: 0;
  padding: 0;
} 
 
.footer__column-link { 
  color: white; 
  text-decoration: none;
} 
 
.footer__column_content_social {
  list-style: none;
}

.footer__social-icon { 
  width: 16px; 
  height: 16px; 
  margin-right: 5px; 
} 

